body{
    
    color: blue;
}
h5{
    color: blue;
}
.total{
    background-color: #eee;
    /* display: flex; */
    /* justify-content: center; */
    margin-top: 3em;
    padding-top: 0.4em;
}
.principal{
    margin-top: 3em;
}
.formulario{
    border-top: solid 0.1em #ccc;
}
.logo{
    width: 1.5em;
    
}
    .disp{
    background-color: #eee;
    width: 40em !important;
}

    
    

    
